<section class="listing">
    <a class="listing"
       [routerLink]="['/propiedad', property.id]"
       target="_blank">
        <img class="listing-photo" [src]="property.imageUrl" [alt]="'Foto de ' + property.name" loading="lazy">
        <h2 class="listing-title">{{property.name}}</h2>
        <p class="listing-description">{{property.description}}</p>
        <p class="listing-location">{{property.city}}, {{property.country}}</p>
        <p class="listing-score">⭐ {{property.score}}</p>
        <p class="listing-price">${{ property.price | formatPrice }}</p>
    </a>
</section>