.rating {
    display: inline-flex;
    
  }
  
  .star {
    font-size: 2em;
    color: #ccc;
    cursor: pointer;
  }
  
  .star:hover,
  .star.active {
    color: gold;
  }
  
  .rating.rated .star {
    cursor: default;
  }