header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.logo img {
  height: 60px;
}
.search-bar {
  flex: 1;
  max-width: 600px;
  margin: 0 20px;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 25px;
  overflow: hidden;
}
.search-bar {
  flex: 1;
  max-width: 600px;
  margin: 0 20px;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 25px;
  overflow: hidden;
}

.search-bar input {
  flex: 1;
  padding: 10px 15px;
  border: none;
  outline: none;
  font-size: 14px;
}

.search-bar button {
  background-color: green;
  border: none;
  color: white;
  padding: 0 16px;
  cursor: pointer;
  font-size: 14px;
}

.user-icon {
  width: 60px;  
  height: 60px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  cursor: pointer;
  border: 1px solid rgb(117, 117, 117);
}
.user-icon:hover {
  background-color: rgb(212, 212, 212);
}
.user-menu {
  position: absolute;
  top: 90px;
  right: 30px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
  border: solid 1px #696969;
}
.login-button{
  border: none;
  background-color: transparent;
  padding: 10px;
}
.login-button:hover {
  border-radius: 5px;
  background-color: rgb(212, 212, 212);
}
.user-info {
  padding: 10px;
  font-size: 14px;
  color: black;
  text-align: center;
}
.user-buttons {
  display: flex;
  width: 100%;
  border: none;
  background-color: transparent;
  padding: 10px;
}
.user-buttons:hover {
  border-radius: 5px;
  background-color: rgb(212, 212, 212);
}
.login-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
  backdrop-filter: blur(5px); /* Efecto de desenfoque del fondo */
  animation: fadeIn 0.3s ease;
}