<div class="login-form">
  <div class="login-header">
    <button class="close-button" (click)="closeLogin()">×</button>
    @if (isLoginMode) {
      <h1>Login</h1>
    } @else {
      <h1>Register</h1>
    }
  </div>
  
  @if (isLoginMode) {
    <form>
      <!-- Campos de login -->
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" placeholder="Username">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Password">
      </div>
      <button type="submit">Login</button>
      <a href="#" (click)="toggleMode(); $event.preventDefault()">Register</a>
    </form>
  } @else {
    <form>
      <!-- Campos de registro -->
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" placeholder="Username">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Password">
      </div>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" placeholder="Name">
      </div>
      <div class="form-group">
        <label for="lastname">Lastname</label>
        <input type="text" id="lastname" name="lastname" placeholder="Lastname">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="Email">
      </div>
      <button type="submit">Sign In</button>
      <a href="#" (click)="toggleMode(); $event.preventDefault()">Already have an account?</a>
    </form>
  }
</div>