<section class = "listing">
    <img class = listing-photo [src]="housingLocation.imageUrl" alt = "listing photo of {{housingLocation.name}}" />
    <h2 class = "listing-title">{{housingLocation.name}}</h2>
    <p class = "listing-description">{{housingLocation.description}}</p>
    <p class = "listing-location">{{housingLocation.city}}, {{housingLocation.country}}</p>
    <p class="listing-price">${{ housingLocation.price | formatPrice }}</p>
</section>
<script>
    const elementoPrecio = document.getElementById("listing-price");
    const numero = parseFloat(elementoPrecio.textContent);
    elementoPrecio.textContent = numero.toLocaleString('es-ES');
</script>